src/main/mule/zozo-delivery-sys-api-1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="zozo-delivery-sys-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="zozo-delivery-sys-api-config" api="resource::de12f9a8-4da3-4eb2-88b7-c2edfd812f4d:zozo-delivery-sys-api:1.0.3:raml:zip:zozo-delivery-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="zozo-delivery-sys-api-main">
        <http:listener config-ref="zozo-delivery-sys-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="zozo-delivery-sys-api-config" doc:id="74af07b7-df6c-4bbb-91fd-c8f0ba4ad8bc" />
    </flow>
    <flow name="zozo-delivery-sys-api-console">
        <http:listener config-ref="zozo-delivery-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="zozo-delivery-sys-api-config" doc:id="dac60727-a621-4e15-ade1-f84029790923" />
    </flow>
    <flow name="post:\deliveryDetails:application\json:zozo-delivery-sys-api-config">
        <flow-ref doc:name="Insert Delivery Details In Database" doc:id="0f60a4b7-368c-4659-b8a0-4a9b3d7adaee" name="InsertDeliveryDetailsInDatabase" />
        <ee:transform doc:name="Ouput payload" doc:id="fd06def4-4f60-4b03-bc40-caf178fe6fd6">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Nearest Store located successfully "
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
